<div class="text-center">
  <h1 class='text-center mt-32 text-5xl'>
    Hello, EmberConf!
  </h1>

  <p class='mt-4'>
    <a class='text-blue hover:text-blue-dark no-underline text-lg' target='blank' href="https://ember-animation.github.io/ember-animated/versions/docs-improvements/">
      Ember Animated docs <span class='text-xs pb-2'>{{fa-icon 'external-link-alt'}}</span>
    </a>
  </p>
</div>
