<div class="pt-32">
  <div class="max-w-lg mx-auto p-4 flex">
    <div class="w-1/4 flex-no-shrink">
      <button class='text-blue focus:outline-none' {{action (toggle 'isShowing' this)}}>
        Show more
      </button>
    </div>

    <div class='w-3/4 text-lg'>
      {{#animated-if isShowing use=fade duration=250}}
        <p class='mb-4'>
          Ember is a JavaScript front-end framework designed to help you build websites with rich and complex user interactions. It does so by providing developers both with many features that are essential to manage complexity in modern web applications, as well as an integrated development toolkit that enables rapid iteration.
        </p>
        <p>
          Ember is an Open Source project that relies on the tireless support of individual contributors.
        </p>
      {{else}}
        <p>
          Click to read more about Ember!
        </p>
      {{/animated-if}}
    </div>
  </div>
</div>
