<div class="pt-32 max-w-sm mx-auto">
  <h1 class='text-5xl tracking-tight leading-none font-black cursor-pointer select-none'
    {{action (toggle 'didClick' this)}}
    {{fade-up duration=500}}
  >
    {{#animated-if didClick use=transition duration=200}}
      <span class='inline-block text-red'>
        Ember.js, the framework for ambitious developers
      </span>
    {{else}}
      <span class='inline-block text-teal'>
        JavaScript is the language of the web
      </span>
    {{/animated-if}}
  </h1>
</div>
