<section class='max-w-md mx-auto mt-16'>
  <ul class='list-reset relative'>
    {{!-- <AnimatedContainer> --}}
      {{#each (sort-by 'position' items) as |item|}}
      {{!#animated-each (sort-by 'position' items) use=transition duration=1000 as |item|}}
        <li
          class='
            w-full bg-{{item.color}}-light rounded shadow text-white p-4 my-4 flex
          '
        >
          <span>
            {{item.name}}
          </span>
          <div class='ml-auto'>
            <div>˄</div>
            <div>˄</div>
          </div>
        </li>
      {{!/animated-each}}
      {{/each}}
    {{!-- </AnimatedContainer> --}}
  </ul>
</section>
